
<div class="social-bnr-agileits">
  <ul class="social-icons3">
    <li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
    <li><a href="#" class="fa fa-linkedin icon-border linkedin"> </a></li>
  </ul>

</div>
<br>

<div class="navigation">
  <nav class="navbar navbar-default">
    <div class="navbar-header navbar-left">
      <h1><a class="navbar-brand"  href="index.html">AFC <span>Family Restaurant</span><p class="tag">Good Food.. Good Life..!</p></a></h1>
    </div>

    <div class="topnav">
      <a routerLinkActive="active" routerLink="/nevigation/homepage">Home</a>
      <a routerLink="/nevigation/menu-dash" routerLinkActive="active">Menus</a>
      <a routerLink="/nevigation/specialties" routerLinkActive="active">Special Events</a>
      <a routerLink="/nevigation/about-us" routerLinkActive="active">About Us</a>
      <a routerLink="/nevigation/contact-us" routerLinkActive="active">Contact Us</a>
      <a routerLink="/nevigation/shopping-cart"  routerLinkActive="active"><i class="fa fa-shopping-basket">&nbsp; Shopping Cart</i></a>
      <a routerLink="/nevigation/reservation" routerLinkActive="active"><i class="fa fa-user">&nbsp; My Account</i></a>
    </div>
  </nav>
</div>
<!--===============================================================================================================-->

<!--<div class="container">-->
<!--<div class="slider">-->
<!--<div class="slide slide1">-->
<!--<div class="caption">-->
<!--<h2>Slide1</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--<button class="form-controll btn btn-warning" style="margin-left:500px; position: fixed"><i class="fa fa-shopping-cart fa-2x"></i> Order Now!</button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide slide2">-->
<!--<div class="caption">-->
<!--<h2>Slide2</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="slide slide3">-->
<!--<div class="caption">-->
<!--<h2>Slide3</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

<!--</div>-->
<!--</div>-->
<!--<div class="slide slide4">-->
<!--<div class="caption">-->
<!--<h2>Slide4</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="slide slide1">-->
<!--<div class="caption">-->
<!--<h2>Slide1</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--=====================================================================================================================-->

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>




