
<div class="social-bnr-agileits">
  <ul class="social-icons3">
    <li><a href="https://www.facebook.com/gintota.afc" class="fa fa-facebook icon-border facebook"> </a></li>
    <li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
    <li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li>
    <li><a href="#" class="fa fa-linkedin icon-border linkedin"> </a></li>
  </ul>
  <label class="lbl-title">Hi..<span>{{cus_UName}}</span>&nbsp;<span class="nxt" style="color: red;font-size: 14px">WelCome to AFC</span></label>
</div>
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/nevigation/homepage">AFC <span>Family Restaurant</span><p class="tag">Good Food.. Good Life..!</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 220px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/nevigation/homepage" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nevigation/menu-dash" routerLinkActive="active">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nevigation/specialties" routerLinkActive="active">Special Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nevigation/about-us" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nevigation/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nevigation/shopping-cart" routerLinkActive="active"><i class="fa fa-shopping-basket">&nbsp; Shopping Cart</i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
         <i class="fa fa-user-circle"></i> My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#"><i class="fa fa-sliders"></i>&nbsp; Setting</a>
          <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp; LogOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>




