ul.social-icons3 {
  display: block;
  padding: 0;
  margin-top: .55em;
}
.social-icons3 li{
  display:inline-block;
}
.social-icons3 li a{
  display: block;
  height: 30px;
  width: 30px;
  margin-right: 1em;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
  margin-right: 1em;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  line-height: 30px;
  color:#fff;
  text-align:center;
}
.social-icons3 li a.fa.fa-facebook.icon-border.facebook{
  background:#4D669C;
}
.social-icons3 li a.fa.fa-twitter.icon-border.twitter{
  background:#1da1f2;
}
.social-icons3 li a.fa.fa-google-plus.icon-border.googleplus{
  background:#d34836;
}
.social-icons3 li a.fa.fa-linkedin.icon-border.linkedin{
  background: #007bb5;
}
.social-icons3 li a:hover{
  text-decoration:none;
  opacity:0.5;
}
/*-----------Navigation-----------------*/

.navigation {
  background: #5D6D7E ;
  height: 70px;
  margin-top: -20px;
}
.navbar-brand{
  padding: 0;
  font-size: 25px;
  letter-spacing: 5px;
  position: relative;
  font-weight: bold;
  color: #FFFFFF;
}
.navbar-brand span{
  color: #ffce14;
}
p.tag {
  text-transform: uppercase;
  letter-spacing: 5.7px;
  font-size: 11px;
  color: #2ECC71  ;
  text-shadow: 0px 1px 3px #454a47;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;  }
#nav ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
#nav li {
  float: left; }
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#nav li:first-child a {
  border-left: 1px solid #ccc; }
#nav li a:hover {
  color: #c00;
  background-color: #fff; }


.topnav {
  background-color: #5D6D7E;
  text-transform: uppercase;
  overflow: hidden;
}
.topnav a {
  float: left;
  color:#FFFFFF;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a:hover {
  color:  #ffce14;
}
.topnav a.active {
  color:  #ffce14;
}


/*=======================================================================================*/
/*.container {*/
  /*position: relative;*/
  /*!*overflow: hidden;*!*/
  /*width: 100%;*/
  /*margin-left: 0px;*/
  /*height: 100vh;*/
  /*margin-bottom: -65px;*/
/*}*/
/*.container .slider {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 500%;*/
  /*height: 90%;*/
  /*animation: animate 20s linear infinite;*/
/*}*/
/*.container .slider .slide {*/
  /*position: relative;*/
  /*width: 20%;*/
  /*height: 100%;*/
  /*float: left;*/
/*}*/
/*.container .slider .slide .caption {*/
  /*position: absolute;*/
  /*bottom: 60px;*/
  /*top: 80px;*/
  /*right: 60px;*/
  /*left: 60px;*/
  /*padding: 30px;*/
  /*background-color: rgba(0,0,0,.5);*/
  /*box-sizing:border-box;*/
  /*transition: 0.5s;*/
/*}*/
/*.container .slider .slide .caption h2 {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*color: #fff;*/
  /*font-size: 48px;*/
  /*transition: 0.5s;*/
/*}*/
/*.container .slider .slide .caption p {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*color: #fff;*/
  /*font-size: 18px;*/
  /*transition: 0.5s;*/
/*}*/
/*.container .slider .slide.slide1 {*/
  /*background: url(https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?cs=srgb&dl=chair-cutlery-diner-941861.jpg&fm=jpg);*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/
/*.container .slider .slide.slide2 {*/
  /*background: url(https://images.pexels.com/photos/675951/pexels-photo-675951.jpeg?cs=srgb&dl=asparagus-barbecue-bbq-675951.jpg&fm=jpg);*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/
/*.container .slider .slide.slide3 {*/
  /*background: url(https://images.pexels.com/photos/735869/pexels-photo-735869.jpeg?cs=srgb&dl=blur-close-up-cutlery-735869.jpg&fm=jpg);*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/
/*.container .slider .slide.slide4 {*/
  /*background: url(https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?cs=srgb&dl=blur-breakfast-chef-262978.jpg&fm=jpg);*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/


/*@keyframes animate {*/
  /*0% {*/
    /*left: 0;*/
  /*}*/
  /*20% {*/
    /*left: 0;*/
  /*}*/
  /*25% {*/
    /*left: -100%;*/
  /*}*/
  /*45% {*/
    /*left: -100%;*/
  /*}*/
  /*50% {*/
    /*left: -200%;*/
  /*}*/
  /*70% {*/
    /*left: -200%;*/
  /*}*/
  /*75% {*/
    /*left: -300%;*/
  /*}*/
  /*95% {*/
    /*left: -300%;*/
  /*}*/
  /*100% {*/
    /*left: -400%;*/
  /*}*/
/*}*/



/*@media screen and (max-width: 1349px) {*/
  /*.container .slider .slide .caption {*/
    /*bottom: 20px;*/
    /*right: 20px;*/
    /*left: 20px;*/
    /*padding: 20px;*/
  /*}*/
  /*.container .slider .slide .caption h2 {*/
    /*margin: 0 0 10px;*/
    /*font-size: 30px;*/
  /*}*/
  /*.container .slider .slide .caption p {*/
    /*font-size: 16px;*/
  /*}*/
/*}*/
