


<div style="margin-bottom: 100px">

  <hr style="width: 100%;background-color: #ffc107;height: 2px">

  <h1>
    SHOPPING CART
  </h1>

  <div class="img-button">
    <a href="/nevigation/check-out" class="img-btn"><i class="fa fa-money">&#x00009; Proceed to Checkout</i></a>
  </div>

  <div id="tbldiv"></div>

  <table id="tblCart" class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Quntity</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
  </table>

  <button id="btnUpdate" class="button button_white btn-update" type="button">
    <span>Update Shopping Cart</span>
  </button>
</div>


<app-footer></app-footer>
