<!--<app-navbar></app-navbar>-->

<div class="img"><img src="../assets/images/nav_menu.jpg" style="margin-top: -10px"> </div>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           style="font-weight: bold;color: #000000;font-size: 22px">
          Our Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/nevigation/menu-dash">&#x00009;All Category</a>
          <a class="dropdown-item" href="/nevigation/srilanka-coner">&#x00009;SriLanka Coner</a>
          <a class="dropdown-item" href="/nevigation/mongolian-coner">&#x00009;Mongolian Coner</a>
          <a class="dropdown-item" href="/nevigation/western-cuisine">&#x00009;Western Cuisine</a>
          <a class="dropdown-item" href="/nevigation/italian-cuisine">&#x00009;Italian Cuisine</a>
          <a class="dropdown-item" href="/nevigation/burger-coner">&#x00009;Burger Coner</a>
          <a class="dropdown-item" href="/nevigation/soup-kettle">&#x00009;Soup Kettle</a>
          <a class="dropdown-item" href="/nevigation/juice">&#x00009;Juice</a>
          <a class="dropdown-item" href="/nevigation/noodles">&#x00009;Noodles</a>
          <a class="dropdown-item" href="/nevigation/koththu">&#x00009;Koththu</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<br>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search By Category.." style="width: 300px;margin-left: 50px"
         [(ngModel)]="searchTerm">
</div>
<br>
<div class="test-pnl">
  <h3 class="label" style="color: #1da1f2; margin-left: 15%">All Meals List</h3>
  <br>

  <div class="table-responsive">
    <table class="table table-hover" id="tblTest">
      <thead class="grey lighten-2" style="text-align: center">
      <tr >
        <th style="width: 15%">Image</th>
        <th style="width: 20%">Category</th>
        <th style="width: 20%">Meal Name</th>
        <th style="width: 20%">Description</th>
        <th style="width: 10%">Portion Price</th>
        <th style="width: 5%"></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let meal of meals | mealFilter: searchTerm | paginate: {itemsPerPage: 8, currentPage: p}">
        <td><img src="{{meal.imageURL}}" style="width: 70px; height: 70px;"></td>
        <td>{{meal.category}}</td>
        <td>{{meal.mealName}}</td>
        <td>{{meal.desription}}</td>
        <td>{{meal.price}}</td>
        <td><i class="fa fa-shopping-basket fa-2x" style="font-size:30px;"></i></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<br style="margin-top: 20px">

<app-footer></app-footer>
