<div class="emp-pnl">
  <h1 style="margin-left: 50px">Manage Meal</h1>
  <hr style="border: 2px solid; color:#007bb5;width: 90%">

  <div class="container">
    <form method="POST" enctype="multipart/form-data" modelAttribute="fileBucket" (ngSubmit)="upload()" #frmUp="ngForm" action="">
        <div>
          <div class="form-group">
          <select class="form-control" id="category" name="category" [(ngModel)]="selectedMeal.category">
            <option disabled selected>Select Category</option>
            <option>Srilanka Coner</option>
            <option>Mongolian Coner</option>
            <option>Western Cuisine</option>
            <option>Italian Cuisine</option>
            <option>Burger Coner</option>
            <option>Soup Kettle</option>
            <option>Juice</option>
            <option>Noodles</option>
            <option>Koththu</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="mealName" name="txtMealName" placeholder="Meal Name" [(ngModel)]="selectedMeal.mealName" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="description" name="txtDescription" placeholder="Description" [(ngModel)]="selectedMeal.desription" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="price" name="txtPrice" placeholder=" Portion Price" [(ngModel)]="selectedMeal.price" class="form-control">
        </div>
          <div class="form-group ">
            <h5>Select Image :</h5>
            <input class="form-control" type="file" name="file" multiple="multiple"  #fileInput>
          </div>
        <div class="form-group btn-emp">
          <button  style="width: 100px;margin-left: 200px" type="button" (click)="clear()" class="btn btn-warning">Clear</button>
          &nbsp;
          &nbsp;
          <button style="width: 100px" type="submit" class="btn btn-primary ">Save</button
          >
        </div>
      </div>
    </form>
  </div>

  <br>

  <div class="meal-tbl" style="margin-right: 20px;margin-left: 20px">
    <table id="tblMeal" class="table table-bordered table-hover">
      <thead class="grey lighten-2" style="text-align: center">
      <tr >
        <th>Image</th>
        <th>Category</th>
        <th>Meal Name</th>
        <th>Description</th>
        <th>Portion Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let meal of meals | paginate: { itemsPerPage: 7, currentPage: p}"
          (click)="selectMeal(meal)" [class.selected]="meal==selectedMeal">

        <td><img src="{{meal.imageURL}}" style="width: 70px; height: 70px;"></td>
        <td>{{meal.category}}</td>
        <td>{{meal.mealName}}</td>
        <td>{{meal.desription}}</td>
        <td>{{meal.price}}</td>
        <td><i class="fa fa-trash-o fa-2x" style="font-size:30px;" (click)="deleteMeal(meal)"></i></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>

