<br>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search By Category.." style="width: 300px;margin-left: 50px"
         [(ngModel)]="searchTerm">
</div>
<br>
<div class="test-pnl">
  <h3 class="label" style="color: #1da1f2; margin-left: 15%">All Meals List</h3>
  <br>

  <div class="table-responsive">
    <table class="table table-hover" id="tblTest">
      <thead class="grey lighten-2" style="text-align: center">
      <tr >
        <th style="width: 15%">Image</th>
        <th style="width: 20%">Category</th>
        <th style="width: 20%">Meal Name</th>
        <th style="width: 20%">Description</th>
        <th style="width: 10%">Quantity</th>
        <th style="width: 10%">Portion Price</th>
        <th style="width: 5%"></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
        <tr *ngFor="let meal of meals | mealFilter: searchTerm | paginate: {itemsPerPage: 8, currentPage: p}">
          <td><img src="{{meal.imageURL}}" style="width: 70px; height: 70px;"></td>
          <td>{{meal.category}}</td>
          <td>{{meal.mealName}}</td>
          <td>{{meal.desription}}</td>
          <td data-th="Quantity">
            <input id="quantity" #quantity type="text" class="form-control text-center">
          </td>
          <td>{{meal.price}}</td>
          <td><i class="fa fa-shopping-basket fa-2x" style="font-size:30px;" (click)="addToAccount(meal , quantity.value)"></i></td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="form-group">
  <button class="form-inline btn btn-warning" style="margin-left: 20px">
    <i class="fa fa-check-square"></i>&nbsp; Check Your Cart
  </button>
</div>
<br style="margin-top: 20px">

<div class="container">
  <div class="title" >
    <br>
    <h3 style="margin-left: 50px"><span><i class="fa fa-shopping-cart"></i>&nbsp; Shopping Cart</span></h3>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">Meal</th>
        <th class="text-center">Meal Name</th>
        <th class="text-center">Category Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Amount (LKR)</th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderDetail of orderDetails">
          <td class="text-center"><img src="{{orderDetail.meal.imageURL}}" style="width: 70px; height: 70px;"></td>
          <td class="text-center">{{orderDetail.meal.mealName}}
            <div>{{orderDetail.meal.desription}}</div>
          </td>
          <td class="text-center">{{orderDetail.meal.category}}</td>
          <td class="text-center">{{orderDetail.qty}} x Rs. {{orderDetail.meal.price}}</td>
          <td class="text-center">{{orderDetail.gross_Amount}}</td>
          <td class="actions text-center" data-th="">
            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button> &nbsp;
            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="hidden-xs"></td>
          <td class="text-center"><h5 class="nxt">Total Amount</h5></td>
          <td class="text-center"><h5 class="nxt"><strong>{{sub_Total}}</strong></h5></td>
        </tr>
        <tr>
          <td colspan="5" class="hidden-xs"></td>
          <td><button class="btn btn-success btn-block" (click)="toggle()">Checkout <i class="fa fa-angle-right"></i></button></td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

<div>
  <ng-container *ngIf="show">
    <div class="container wrapper">
      <div class="row cart-head">
        <div class="container">
          <div class="row" style="margin-top: 30px; margin-left: 30px">
            <p></p>
            <i class="fa fa-home fa-5x" style="cursor: pointer" routerLink="/nevigation/homepage" title="<- Go Home"></i>
          </div>
          <div class="row" style="margin-top: -50px">
            <div style="display: table; margin: auto;">
              <span class="step step_complete"> <a routerLink="/nevigation/menu-dash" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
              <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
              <span class="step_thankyou check-bc step_complete">Thank you</span>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <p></p>
          </div>
        </div>
      </div>

      <form class="form-horizontal" method="post" action="">

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <!--SHIPPING METHOD-->
            <div class="panel panel-info">
              <div class="panel-heading" style="color:#0618B4; font-weight:600; font-size: 18px">Billing Address</div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-md-12"><strong>Name:</strong></div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="country" value="{{selectedCustomer.cus_Name}}" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12"><strong>Address:</strong></div>
                  <div class="col-md-12">
                    <input type="text" name="address" class="form-control" value="{{selectedCustomer.cus_Address}}" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12"><strong>Phone Number:</strong></div>
                  <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="{{selectedCustomer.cus_Contact}}" disabled/></div>
                </div>
                <div class="form-group">
                  <div class="col-md-12"><strong>Email Address:</strong></div>
                  <div class="col-md-12"><input type="text" name="email_address" class="form-control" value="{{selectedCustomer.cus_Email}}" disabled/></div>
                </div>
              </div>
            </div>

            <br>

            <div class="panel panel-info">
              <div class="panel-heading" style="color:#0618B4; font-weight:600; font-size: 18px">Delivering Address</div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-md-12"><strong>Name:</strong></div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="name" [(ngModel)]="selectedOrder.d_Name" value="" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12"><strong>Delivery Address:</strong></div>
                  <div class="col-md-12">
                    <input type="text" name="address" class="form-control" [(ngModel)]="selectedOrder.d_Address" value="" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12"><strong>Phone Number:</strong></div>
                  <div class="col-md-12"><input type="text" name="phone_number" [(ngModel)]="selectedOrder.d_Tele" class="form-control" value="" /></div>
                </div>

              </div>
            </div>
            <!--SHIPPING METHOD END-->
          </div>

          <div class="col-lg-6 col-md-6">
            <!--REVIEW ORDER-->
            <div class="panel panel-info">
              <div class="panel-heading" style="color:#0618B4; font-weight:600; font-size: 18px">
                Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>
              </div>
              <br>
              <div class="form-group">
                <input class="form-control" type="date" name="o_Date" [(ngModel)]="selectedOrder.o_Date" id="today" style="width: 400px">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="o_Time" [(ngModel)]="selectedOrder.o_Time" id="nowTime" style="width: 400px">
              </div>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th class="text-center">Meal</th>
                    <th class="text-center">Meal Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Amount (LKR)</th>
                    <th class="text-center"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let orderDetail of orderDetails">
                    <td class="text-center"><img src="{{orderDetail.meal.imageURL}}" style="width: 70px; height: 70px;"></td>
                    <td class="text-center">{{orderDetail.meal.mealName}}
                      <div>{{orderDetail.meal.desription}}</div>
                    </td>
                    <td class="text-center">{{orderDetail.qty}} x Rs. {{orderDetail.meal.price}}</td>
                    <td class="text-center">{{orderDetail.gross_Amount}}</td>
                    <td class="actions text-center" data-th="">
                      <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>

                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="3" class="hidden-xs"></td>
                    <td class="text-center"><h5 class="nxt">Total Amount</h5></td>
                    <td class="text-center"><h5 class="nxt"><strong>{{sub_Total}}</strong></h5></td>
                  </tr>
                  </tfoot>
                </table>
              </div>

            </div>
            <!--REVIEW ORDER END-->

            <div class="btn-buy">
              <button class="form-group btn btn-success buy" (click)="placeOrder()">
                Buy Now <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>

          </div>
        </div>
      </form>

    </div>
  </ng-container>
</div>
