.table-responsive{
  width: 100%;
}
#tblTest tbody{
  background-color: #ffffff;
}
#tblTest tr{
  cursor: pointer;
}
#tblTest tr th:first-child, #tblTest tr td:first-child{
  text-align: center;
}
#tblTest tr td:last-child:hover{
  color: red;
}

.test-pnl{
  margin-left: 10px;
  margin-right: 10px;
}


#cart{
  margin-top: 10px;
  margin-left: 10px;
}
.title{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  top: -10px;
  width: 100%;
  height: 80px;
  background-color: #AED6F1;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:30%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }



  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
.nxt{
  color: #0618B4;
  font-weight: 600;
}


