
.container h2{
  margin-top: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 38px;
  margin-left: -30px;
}

.icon-bar {
  margin-left: 50px;
  width: 250px;
  background-color: #555;
  margin-bottom: 450px;
}

.icon-bar a {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 18px;
  border: 1px solid #ffce14;
  padding: 15px 30px;
  text-decoration: none;
  transition: 0.6s ease;
  background-color: #ffffff;
}

.icon-bar a:hover {
  background-color: #ffce14;
  font-size: 20px;
  color: #ffffff;
}

.menu-icon{
  float: left;
  width: 40px;
  height: 40px;
}


