<app-menus></app-menus>
<div class="slc-pnl">

<div id="titel"> Sri Lankan Coner ---> </div>

<div class="container">
  <div class="row">

    <div class="col-3-lg">
      <div class="card" style="width: 18rem">
        <img src="../assets/images/slc_1.jpg" alt="Card One" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">STRING HOPPERS</div>
          <div style="color:red">LKR 4.00</div>
        </div>
        <div (click)="openVerticallyCentered(content)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_1.jpg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">STRING HOPPERS</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
            <label>Quantity</label>
            <input type="text" class="quantity">
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>


    <div class="col-3-lg ml-4">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/slc_2.jpg" alt="Card Two" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">RED RICE & CURRY</div>
          <div style="color:red">LKR 160.00</div>
        </div>
        <div (click)="openVerticallyCentered1(content1)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content1 let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_2.jpg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">RED RICE & CURRY</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 TO 2 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart1" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>

    <div  class="col-3-lg ml-4">
      <div class="card" style="width: 18rem;margin-left: 600px; margin-top: -335px">
        <img src="../assets/images/slc_3.jpg" alt="Card Two" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">FISH CURRY</div>
          <div style="color:red">LKR 100.00</div>
        </div>
        <div (click)="openVerticallyCentered2(content2)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content2 let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_3.jpg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">FISH CURRY</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 TO 2 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart2" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>




    <div style="margin-left: -600px;height: 400px; margin-top:-30px">
      <div  class="card" style="width: 18rem;margin-left: 600px">
        <img src="../assets/images/slc_6.jpeg" alt="Card Two" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">MILK RICE</div>
          <div style="color:red">LKR 120.00</div>
        </div>
        <div (click)="openVerticallyCentered3(content3)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content3 let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_6.jpeg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">MILK RICE</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 TO 2 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart3" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>

    <div style="margin-left: -580px;height: 400px; margin-top: -30px">
      <div  class="card" style="width: 18rem;margin-left: 600px">
        <img src="../assets/images/slc_5.jpg" alt="Card Two" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">ROTTY & KATTA SAMBOLA</div>
          <div style="color:red">LKR 40.00</div>
        </div>
        <div (click)="openVerticallyCentered4(content4)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content4 let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_5.jpg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">ROTTY & KATTA SAMBOLA</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 TO 2 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart4" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>

    <div style="margin-left: 20px;height: 400px; margin-top: -400px">
      <div  class="card" style="width: 18rem;margin-left: 600px">
        <img src="../assets/images/slc_4.jpg" alt="Card Two" class="card-img-top">
        <div class="card-body">
          <div style="color: #110000">HOPPERS</div>
          <div style="color:red">LKR 15.00</div>
        </div>
        <div (click)="openVerticallyCentered5(content5)" class="icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
      </div>
    </div>

    <ng-template #content5 let-c="close" let-d="dismiss">
      <form class="popup">
        <div  class="modal-header">
          <button  type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="margin-top: 30px; width: 250px; margin-left: 5px" mat-card-image class="popupImg" src="../assets/images/slc_4.jpg">
          <h4 style="margin-top: -200px; margin-left: 300px" class="modal-title">HOPPERS</h4>
          <p style="margin-left: 350px" class="price">LKR550.00</p>

          <p class="otherInfo">
          <li>SMALL SERVES 1 TO 2 ADULTS</li>
          <li>REGULAR SERVES 2 TO 3 ADULTS</li>
          </p>


          <div  class="portion">
            <label style="font-weight: bold">PORTION SIZE</label><br>
            <input type="radio" name="portionSize" checked> REGULAR<br>
            <input type="radio" name="portionSize" checked> SMALL -LKR370.00<br>
          </div>
        </div>

        <div class="modal-footer">
          <button id="btnaddCart5" type="button" class="btn btn-light"><i class="fa fa-shopping-basket"></i>Add To Cart</button>
        </div>
      </form>
    </ng-template>

  </div>
</div>
</div>



<app-footer></app-footer>
