<!--<app-navbar></app-navbar>-->

<body>
  <div class="img"><img src="../assets/images/nav_about.jpg"  style="margin-top: -10px"> </div>

  <div class="row">
    <div class="col-md-8 col-pb-sm">
      <h1> Director </h1>
      <p><span style="font-weight: bold">Mr. A.D. NALIN</span> is owner the Abeywickrama Foodcity (pvt) ltd. He have  a 28
        years experience in Marketing Field.He is a good Person.</p>
       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad consectetur explicabo id inventore labore officia quos rerum.
        Asperiores eveniet facere quam ratione? Doloribus et facere libero quo, suscipit voluptatem!</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad consectetur explicabo id inventore labore officia quos rerum.
        Asperiores eveniet facere quam ratione? Doloribus et facere libero quo, suscipit voluptatem!</p>
    </div>
    <div class="col-md-4 col-pb-sm">
      <div class="image"><img src="../assets/images/sdn_director.jpg" style="margin-top: 40px"></div>
    </div>
  </div>

  <div>
    <h1>Our History </h1>
    <p>AFC Family Restaurant is new and most famous restaurant in Karapitiya, Sri  Lanka. Started in 2017 by a  family
      of Abeywickrama Foodcity (pvt) ltd.</p>
  </div>

  <div>
    <h1>Our Services </h1>
    <p>AFC Family Restaurant has pioneered Cuisine of Western , Italian Cuisine, Thai Noodles, Mongolian Coner , etc..
      in Sri Lanka, offering authentic food refined specifically
      to suit the local palate. Popular innovations have also become a trademark - our Hot Buttered Cuttlefish,
      Crab Claws, Hot and Spicy Seafood Soup (Tom Yum), Seafood Fried Rice, Chilli Chicken, Chilli Paste and Devilled dishes
      have become synonymous with Chinese food in Sri Lanka – often imitated but never replicated.
    </p>
    <div class="image"><img src="../assets/images/sdn_16.jpg" style="margin-left: 200px"></div>
    <p>For a taste of the food that you have come to know and love, visit one of our branches or use our online ordering
      page to experience Sri Lanka’s premier delivery service and enjoy our dishes in the comfort of your own home.</p>

    <p>To our loyal customers we thank you for your continued patronage and are thrilled that you are a part of the
      Chinese Dragon family.</p>

    <p>We have avilable A/C non A/C room for your Birthday Parties , Your Company Meeting, Project Meeting and Your Different Functionalities etc...</p>


  </div>

  <div>
    <h1>Our Vision</h1>
    <p style="font-size: 18px">"Good Food.. Good Life..!"</p>
  </div>

  <div>
    <h1>Our Mission</h1>
    <p style="font-size: 18px">
      "To expand the dining experience beyond traditional boundaries while providing   prompt, professional & friendly service
      to consistently provide a reasonably priced,Well prepared meal using quality ingredients in our recipes and meeting
      the highest standards of all our stakeholders".
    </p>
  </div>

  <div class="last">
    <h1><i class="fa fa-phone"> Call Us : 0912 228 456</i></h1>
    <h1><i class="fa fa-envelope"> Mail  : abeywickramafoodsadn@gmail.com</i></h1>
  </div>
</body>

<app-footer></app-footer>
