<!--<app-navbar></app-navbar>-->
<div class="img"><img src="../assets/images/nav_spec.jpg"  style="margin-top: -10px"> </div>

<div class="title">
  <h1>Celebrating Your Special Events </h1>
  <h3>Even the all-powerful Pointing has no control about the blind texts it is an <br>
    almost unorthographic life</h3>
</div>

  <div class="container">

    <div class="row">
      <div class="col-4-lg">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_events_1.jpg" alt="Card One" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">BirthDay Parties</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

      <div class="col-4-lg ml-4">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_eveents_2.jpg" alt="Card Two" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Office Meeting</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

      <div class="col-4-lg ml-4">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_events_1.jpg" alt="Card Three" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Family Parties</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-4-lg">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_events_1.jpg" alt="Card One" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">BirthDay Parties</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

      <div class="col-4-lg ml-4">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_eveents_2.jpg" alt="Card Two" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Office Meeting</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

      <div class="col-4-lg ml-4">
        <div class="card" style="width: 22rem">
          <img src="../assets/images/sdn_events_1.jpg" alt="Card Three" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Family Parties</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum et eum ipsa nobis sequi veritatis.
              Atque corporis dignissimos doloribus error fugiat minima, ratione sequi soluta suscipit velit vero voluptate?
            </p>
            <a href="#" class="btn btn-primary">Read More..</a>
          </div>
        </div>
      </div>

    </div>

  </div>




<app-footer></app-footer>
