<div class="dash-pnl">
  <h1 style="margin-left: 50px">DashBoard</h1>
  <hr style="border: 2px solid; color:#007bb5;width: 90%">

</div>

<section  class="content">
  <div  class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div style="height: 150px;" class="small-box bg-info">
          <div class="inner">
            <h3>22</h3>

            <p>Customers</p>
          </div>
          <div class="icon">
            <i style="font-size: 20px" class="fa fa-users fa-2x"></i>
          </div>
          <a style="color: black" href="#" class="small-box-footer">More info <i  class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>


      <div class="col-lg-4 col-12">
        <div style="height: 150px; " class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>Orders</p>
          </div>
          <div class="icon">
            <i  style="font-size: 20px" class="fa fa-shopping-cart fa-2x"></i>
          </div>
          <a style="color: black" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-12">
        <div style="height: 150px; " class="small-box bg-success">
          <div class="inner">
            <h3>44</h3>

            <p>Eployees</p>
          </div>
          <div class="icon">
            <i  style="font-size: 20px" class="fa fa-user fa-2x"></i>
          </div>
          <a style="color: black" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
