<!--<app-navbar></app-navbar>-->

<div class="img"><img src="../assets/images/nav_contct.jpg"  style="margin-top: -10px"> </div>

<div class="wrapper">
  <div class="contact-us">

    <form #frmContactUs="ngForm" (ngSubmit)="saveComment()">

    <div class="title"><p>Contact-Form</p><p> Send Your Feedback</p></div>

    <div class="input-fields">
      <div class="form-group items has-feedback" [class.has-error]="fullNameControll.invalid && fullNameControll.touched" [class.has-success]="fullNameControll.valid">
        <label for="name" class="label">Name</label>
        <input required id="name" type="text" name="name" [(ngModel)]="selectedComment.name" class="form-control input" #fullNameControll="ngModel">
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullNameControll.invalid && fullNameControll.touched">Name is Required</span>
      </div>
      <div class="form-group items has-feedback" [class.has-error]="fullEmailControll.invalid && fullEmailControll.touched" [class.has-success]="fullEmailControll.valid">
        <label for="email" class="label">E-mail</label>
        <input required id="email" type="email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" [(ngModel)]="selectedComment.email" class="form-control input" #fullEmailControll="ngModel">
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullEmailControll.errors?.required && fullEmailControll.touched">E-mail is Required</span>
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullEmailControll.errors?.pattern && fullEmailControll.touched">E-mail is Invalid(ex : example@gmail.com)</span>
      </div>
      <div class="form-group items has-feedback" [class.has-error]="fullContactControll.invalid && fullContactControll.touched" [class.has-success]="fullContactControll.valid">
        <label for="tele" class="label">Contact No</label>
        <input required id="tele" type="text" name="contactNo" pattern="^\d{3}-\d{7}$" [(ngModel)]="selectedComment.contact" class="form-control input" #fullContactControll="ngModel">
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullContactControll.errors?.required && fullContactControll.touched">Contact Number is Required</span>
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullContactControll.errors?.pattern && fullContactControll.touched">Contact Number is Invalid (ex : 077-7123456)</span>
      </div>
      <div class="form-group items has-feedback" [class.has-error]="fullCommentControll.invalid && fullCommentControll.touched" [class.has-success]="fullCommentControll.valid">
        <label for="msg" class="label">Message</label>
        <textarea required id="msg" type="text" name="message" [(ngModel)]="selectedComment.comment" class="form-control text-area" #fullCommentControll="ngModel"></textarea>
        <span style="font-size: 14px; color: red;" class="help-block" *ngIf="fullCommentControll.invalid && fullCommentControll.touched">Comment is Required</span>
      </div>
    </div>

    <button class="btn">Send</button>

    </form>

  </div>
</div>


<br>

<div class="container-fluid" style="margin-top: 820px">
  <h1 class="text-center">Contact Our</h1>
  <hr>
  <div class="row">
    <div class="mapouter">
      <div class="gmap_canvas" style="width: 1349px;">
        <iframe width="1349px" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=afc%20family%20restaurant%20karapitiya&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe><a href="https://www.pureblack.de/google-maps/"></a>
      </div>
      <style>
        .mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
      </style>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-4 box1 pt-4">
      <a href="tel:+123456789"><i class="fa fa-phone fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
        <p class="d-none d-lg-block d-xl-block">+94 912 228 456</p></a>
    </div>
    <div class="col-4 box2 pt-4">
      <a href=""><i class="fa fa-home fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Address</h3>
        <p class="d-none d-lg-block d-xl-block">No:165, Hiribura Cross Rd, Karapitiya, Galle.</p></a>
    </div>
    <div class="col-4 box3 pt-4">
      <a href="mailto:test@test.com"><i class="fa fa-envelope fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
        <p class="d-none d-lg-block d-xl-block">abeywickramafoodsadn@gmail.com</p></a>
    </div>
  </div>
</div>


<app-footer></app-footer>
