<div class="cmnt-pnl">
  <h1 style="margin-left: 50px">Manage Comments</h1>
  <hr style="border: 2px solid; color:#007bb5;width: 90%">

  <div class="container">
    <div class="header" style="display: inline;">
      <button class="btn btn-primary" style="font-size: 20px;">
        Reply via Comments
      </button>
    </div>
    <form>
      <div>
        <div class="form-group">
          <input type="text" id="cusName" name="cusName" placeholder="Customer Name" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="cusEmail" name="cusEmail" placeholder="Customer E-mail" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" id="cusContact" name="cusContact" placeholder="Customer Contact" class="form-control">
        </div>
        <div class="form-group">
          <textarea type="text" id="cusMessage" name="cusMessage" placeholder="Customer  Message" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <textarea type="text" id="replyMessage" name="replyMessage"  placeholder="Reply Message" class="form-control"></textarea>
        </div>
        <div class="form-group btn-emp">
          <button  style="width: 100px;margin-left: 200px" type="button" class="btn btn-warning">Clear</button>
          &nbsp;
          &nbsp;
          <button style="width: 100px" type="submit" class="btn btn-primary ">Send</button
          >
        </div>
      </div>
    </form>
  </div>

  <br>

  <div class="cmnt-tbl" style="margin-right: 20px;margin-left: 20px">
    <table id="tblComment" class="table table-bordered table-hover">
      <thead class="grey lighten-2" style="text-align: center">
      <tr>
        <th>Customer Name</th>
        <th>E-mail</th>
        <th>Contact NO</th>
        <th>Message</th>
        <th>Reply Message</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr>
        <th>Sandun</th>
        <td>s@gmail.com</td>
        <td>0779025982</td>
        <td>Hi..</td>
        <td>Hi..</td>
        <td><i class="fa fa-trash-o fa-2x" style="font-size:30px;"></i></td>
        <td><i class="fa fa-edit fa-2x" style="font-size:30px;"></i></td>
      </tr>

      </tbody>
    </table>
  </div>

</div>

